.main {
  background-image: url("./img/main-bg.jpg");
  height: 100vh;
  padding: 0;
}

header {
  height: 80px;
  background-color: burlywood;
  opacity: 0.4;
  padding: 0;
  margin: 0;
}

.logo {
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #800000;
  font-weight: bold;
  opacity: 1;
}

.menu {
  padding-left: 120px;
}

.menu a,
.login {
  color: #000000;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.login {
  text-align: right;
  padding-top: 3px;
}

.hero {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-top: 500px;
}

.hero h1 {
  font-size: 6rem;
  line-height: 2.25rem;
  color: #ffffff;
  margin-bottom: 50px;
}

.hero p {
    font-size: 2rem;
    line-height: 0.75rem;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 100px;
}

.button-play{
    background-color: #f0de29;
    padding: 5px 15px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.5rem;
    border: none;
}

.button-play:hover{
    background-color: #ffffff;
    color: #000000;
}

.slider-section{
    background-image: url("./img/the-games-bg.jpg");
    background-size: cover;
    height: 100vh;
    padding: 0; 
    color: #ffffff;
    padding-top: 500px;
}

.text-the-games{
    padding-top: 120px;
}

.fitur-section{
  background-image: url("./img/features.jpg");
  background-size: cover;
  height: 100vh;
  padding-top: 300px;
}

.fitur-section-text{
  color: #ffffff;
}

.fitur-section-text h2{
  font-size: 2.25rem;
}

.fitur-section-list h2{
  color: #f0de29;
  font-size: 1.5rem;
  font-weight: bold;
}

.fitur-section-list p{
  color: #FFFFFF;
  font-size: .75rem;
}

.card{
  background: none;
}

.requirement{
  background-image: url("./img/requirements.png");
  background-size: cover;
  height: 100vh;
  padding-top: 500px;
}

.requirement-text{
  color: #ffffff;
}

.requirement-table{
  border: 2px solid #ffffff;
}

.requirement-table tr td{
  width: 450px;
}

.requirement-table h2{
  color: #f0de29;
}

.requirement-table p{
  color: #FFFFFF;
}